<!DOCTYPE html>
<html>
<title>Personal Shopper AI</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<head>
    <link rel="icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/index.css">
    <script type="text/javascript">
        $(document).ready(function () {
            init_();
        });

        function init_() {
            setTimeout(() => {
                location.href = "/mains";
            }, 6000)
        }

    </script>
</head>
<body>
<div class="full-screen">
    <img src="/static/index.gif" alt="">
</div>
<so-hard/>
<!-- <div id="index__wrapper">
<img src="index.gif" alt="">
</div> -->
</body>
</html>
<!-- gif 확인 -->