<!DOCTYPE html>
<html lang="en">
<head>
    <title>Personal Shopper AI</title>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no"/>
    <meta name="theme-color" content="#000000"/>

    <link rel="icon" href="/static/favicon.ico"/>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/index.css">
    <link href="https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        function goToUpload() {
            location.href = '/upload'
        }
    </script>
</head>

<body>
<div class="full-screen">
    <video class="bg" src="/static/dress.mp4" autoplay muted loop></video>
    <div class="logo_area">
        <h1 class="logo_default">
            <a href="#" class="logo">
                <span class="blind">Personal Showpper</span>
            </a>
        </h1>
    </div>
    <div class="content">
        <h1 class="description1">뭐 입고 나갈지,<br>고민은 제가 할게요.</h1>
        <h3 class="description2">내가 가진 옷과 어울리는 옷이 궁금하다면?</h3>
        <p class="description3">10만 개 이상 DB에서 <br> 어울리는 옷을 찾아주는 AI 서비스 <br> 옷사진을 찍어 올려보세요!</p>
        <button id="upload_btn" onclick="goToUpload()" type="button" class="btn btn-primary">사진 등록하러 가기</button>
    </div>
</div>
</body>
{#<body>#}
{#<div class="full-screen">#}
{#    <video src="/static/dress.mp4" autoplay muted loop></video>#}
{#    <div class="content">#}
{#        <h1 class="description1">뭐 입고 나갈지,<br>고민은 제가 할게요.</h1>#}
{#        <h3 class="description2">내가 가진 옷과 어울리는 옷이 궁금하다면?</h3>#}
{#        <p class="description3">10만 개 이상 DB에서 <br> 어울리는 옷을 찾아주는 AI 서비스 <br> 옷사진을 찍어 올려보세요!</p>#}
{#        <button id="upload_btn" onclick="goToUpload()" type="button" class="btn btn-primary">사진 올리기</button>#}
{#        <a href="//playvalorant.com">서비스 이용하기</a>#}
{#    </div>#}
{#</div>#}
{#</body>#}


{#<header>#}
{#    <img src="/static/fs_logo_new.png" width="554" heigh="81">#}
{#</header>#}
{#<div id="root"></div>#}
{#<div class="main__wrapper">#}
{#    <h2>뭐 입고 나갈지, <br>고민은 제가 할게요.</h2>#}
{#    <h3>#}
{#        내가 가진 옷과 어울리는 옷이 궁금하다면?#}
{#    </h3>#}
{#    <p>#}
{#        10만개 이상 DB에서 어울리는 옷을 찾아주는 <b>AI</b> 서비스#}
{#    </p>#}
{#    <p>옷 사진을 찍어 올려보세요!</p>#}
{#    <div class="main__btn__wrapper">#}
{#        <button onclick="goToUpload()" type="button" class="btn btn-primary">사진 올리기</button>#}
{#            <button onclick="goToAppDownload()">Google Play</button>#}
{#    </div>#}
{#</div>#}
{#</body>
{#<body>#}
</html>