.content {
  position:absolute;
  left: 0;
  bottom:0;
  padding-bottom:100px;
  padding-left:40px;
}

.content .description1 {
  font-size: 2.5rem;
  font-family: 'East Sea Dokdo', cursive;
  font-weight:bold;
  margin-top:30px;
}
.content .description2 {
  font-family: 'Do Hyeon', cursive;
  font-size:1.7rem;
  font-weight:bold;
  margin-top:20px;
}

.content .description3 {
  font-family: 'Do Hyeon', cursive;
  font-size:1.3rem;
  /* font-weight:bold; */
  margin-top:20px;
}
